moveit_setup.aux
moveit_setup.bbl
moveit_setup.blg
moveit_setup.brf
moveit_setup.log
moveit_setup.out
moveit_setup.tex~
moveit_setup.tex.backup
moveit_setup_bibliography.bib.backup
moveit_setup_bibliography.bib~
moveit_setup_bibliography.log
.DS_Store
moveit_setup.synctex.gz
images/formatted_profiles.psd